<%- include('partials/_header') -%>
<%- include('partials/_barra') -%>

<div class="container mt-5 mb-5">
  <div class="card">
    <div class="card-body">
      <form action="/admin/crudServicios/editar/<%= data.id_servicio%>" method="post">
        <legend>Editar Servicio</legend>

        <div class="mb-3">
            <label for="nombre">Nombre Servicio</label>
            <input type="text" name="nombre_servicio" id="nombre_servicio" value="<%= data.nombre_servicio%>" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="descripcion">Descripcion</label>
            <input type="text" name="descripcion_servicio" id="descripcion_servicio" value="<%= data.descripcion_servicio%>" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="valor">Valor Servicio</label>
            <input type="number" name="valor_servicio" id="valor_servicio" value="<%= data.valor_servicio%>" class="form-control" required>
        </div>
       
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="reset" class="btn btn-danger">Limpiar</button>
        </div>
    </form>
    </div>
  </div>
</div>

<%- include('partials/_footer') -%>