<%- include('partials/_header') -%>
<%- include('partials/_barra') -%>

<div class="container mt-4">
  <button class="btn btn-primary" onclick="generarInforme()">Generar informe</button>
  <table class="table table-dark table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Descripci贸n del cliente</th>
        <th scope="col">Fecha de reservaci贸n</th>
        <th scope="col">Tipo de servicio (ID)</th>
        <th scope="col">Usuario (ID)</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% data.map(sol => { %>
        <tr>
          <td><%- sol.id_sol_servicio -%></td>
          <td><%- sol.detalle_servicio -%></td>
          <td><%= sol.hora_reservada.toLocaleDateString('es-cl') %></td>
          <td><%- sol.FK_usuario -%></td>
          <td><%- sol.FK_servicio -%></td>
          <td><a href="/generarBoleta/<%- sol.id_sol_servicio -%>" class="btn btn-success">Generar Boleta</a></td>
        </tr>
      <% } ) %>
    </tbody>
  </table>
</div>

<table class="table table-dark table-bordered mt-4" id="tabla">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Descripci贸n del cliente</th>
      <th scope="col">Fecha de reservaci贸n</th>
      <th scope="col">Tipo de servicio (ID)</th>
      <th scope="col">Usuario (ID)</th>
    </tr>
  </thead>
  <tbody>
    <% data.map(sol => { %>
      <tr>
        <td><%- sol.id_sol_servicio -%></td>
        <td><%- sol.detalle_servicio -%></td>
        <td><%= sol.hora_reservada.toLocaleDateString('es-cl') %></td>
        <td><%- sol.FK_usuario -%></td>
        <td><%- sol.FK_servicio -%></td>
      </tr>
    <% } ) %>
  </tbody>
</table>

<%- include('partials/_footer') -%>