<%- include('partials/_header') -%>
<%- include('partials/_barra') -%>
<div class="container bg-dark mt-5 mb-5" id="cuadroMiCuenta">
    <div id="barraMiCuenta">
        <h1>Mi Cuenta</h1>
        <a href="">Solicitudes</a>
    </div>
    <div id="datosMiCuenta">
        <h1>Mis Datos</h1>
        <p>Nombre: <%- data.nombre -%></p> 
        <p>Apellido: <%- data.apellido -%></p> 
        <p>Username: <%- data.username -%></p> 
        <p>Contraseña: *******</p>
        <button>Editar Datos</button>
    </div>
</div>
<%- include('partials/_footer') -%>