<%- include('partials/_header') -%>
<%- include('partials/_barra') -%>
<div class="container bg-dark mt-5 mb-5" id="cuadroMiCuenta">
    <div id="barraMiCuenta">
        <h1>Mi Cuenta</h1>
        <a id="linkBarraMiCuenta" href="/historialSolicitudes">Solicitudes</a> <br>
        <a id="linkBarraMiCuenta" href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSHxwTKrGHjbrSqXPPSMgLRmnkCMdtBbDxqKVwVMlLLMbLkqDGJNlvjFmkhQglcttbzFNpTj">Ayuda</a>
    </div>
    <div id="datosMiCuenta">
        <h1>Mis Datos</h1>
        <p>Nombre: <%- data.nombre -%></p> 
        <p>Apellido: <%- data.apellido -%></p> 
        <p>Username: <%- data.username -%></p> 
        <p>Contraseña: *******</p>
        <a href="#" class="btn btn-dark" id="botonMiCuenta">Cambiar contraseña</a>
        <!-- <a href="#" class="btn btn-dark " id="botonMiCuenta">Editar Datos</a> -->
    </div>
</div>
<%- include('partials/_footer') -%>