<%- include('partials/_header') -%>
<%- include('partials/_barra') -%>

<div class="container mt-4">
  <button class="btn btn-primary" onclick="generarInforme()">Generar Informe</button>
  <table class="table table-dark table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Valor</th>
        <th scope="col">Stock</th>
        <th scope="col">Cantidad a ordenar</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% data.map(pro => { %>
        <tr>
          <td><%- pro.id_producto -%></td>
          <td><%- pro.nombre -%></td>
          <td><%- pro.valor -%></td>
          <td><%- pro.stock -%></td>
          <form action="/pedirProducto/<%- pro.id_producto -%>" method="post">
            <td><input type="number" name="cantidad" id="cantidad" class="form-control" required min="1"></td>
            <td><button type="submit" class="btn btn-success">Registrar pedido</button></td>
          </form>
        </tr>
      <% } ) %>
    </tbody>
  </table>
</div>


<table class="table table-dark table-bordered mt-4" id="tabla">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Valor</th>
      <th scope="col">Stock</th>
    </tr>
  </thead>
  <tbody>
    <% data.map(pro => { %>
      <tr>
        <td><%- pro.id_producto -%></td>
        <td><%- pro.nombre -%></td>
        <td><%- pro.valor -%></td>
        <td><%- pro.stock -%></td>
      </tr>
    <% } ) %>
  </tbody>
</table>
<%- include('partials/_footer') -%>