<%- include('partials/_header') -%>
<%- include('partials/_barra') -%>

<div class="row row-cols-3 mw-100">

  <% data.map(s => { %>
    <div class="col mt-4 mb-5">
      <div class="card">
        <div class="card-body card-body-aj">
          <h3 class="card-title text-center"><%- s.nombre_servicio -%></h3>
          <img src="img/servicio3.png" alt="s3" class="card-img-top">
          <h3><%- s.valor_servicio -%></h3>
          <% if (s.stock === 0) { %>
            <h3>SERVICIO NO DISPONIBLE</h3>
          <% } else { %>
            <a href="/servicio/<%- s.id_servicio -%>" class="btn btn-danger">Solicitar Servicio >>></a>
          <% } %>
        </div>
      </div>
    </div>
    <% } ) %>

</div>

<%- include('partials/_footer') -%>